/* цвет основного текста #000000 */
/* вторичный цвет текста  rgba(0, 0, 0, 0.8);
 */
/* белый #FFFFFF  */
/* акцент #18A0FB */
/* вторичный цвет фона #F5F5F5; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgr-color: #ffffff;
  --white-text: #ffffff;
  --footer-background: #2f303a;
  --card-set-gap: 30px;
  --icon-color: #afb1b8;
}

body {
  background-color: var(--primary-bgr-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__nav {
  display: flex;
  align-items: center;
}
.nav-main {
  display: flex;
  align-items: center;
}

/*logo*/
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.29;
  font-weight: 700;
  text-decoration: none;
  margin-right: 94px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-in {
  color: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

/*site-nav*/
.site-nav {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.site-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link--current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  margin-top: 32px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}
.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}
/*hero*/
.hero {
  background-color: var(--footer-background);
  padding: 200px 0px 200px;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:focus,
.hero-button:hover {
  color: var(--white-text);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*preferens*/
.preferens {
  display: flex;
}
.preferens__item:not(:last-child) {
  margin-right: 30px;
}
.preferens__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.preferens__title {
  color: var(--title-text-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.preferens__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}

/*buttons-filtr*/
.filtrs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filtrs__button {
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtrs__button:hover,
.filtrs__button:focus {
  background-color: var(--accent-color);
  color: var(--white-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filtrs__item:not(:last-child) {
  margin-right: 8px;
}
/*our-works*/
.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.section--our-works {
  padding-top: 0;
}
.our-works {
  display: flex;
}
.our-works__item {
  position: relative;
}
.our-works__item:not(:last-child) {
  margin-right: 30px;
}
.our-works__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
}

.our-works__title {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text);
  padding-top: 27px;
  padding-bottom: 27px;
}
/*our-team*/
.our-team {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: center;
  fill: #afb1b8;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--white-text);
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-bgr-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.team-content__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}
.team-content__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.section--our-team {
  background-color: #f5f4fa;
}
/*our clients*/
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients {
  display: flex;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
}
.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}
/*our project*/

.our-projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-projects__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
.our-projects__link {
  position: relative;
  display: block;
}
.our-projects__thumb {
  position: relative;
  overflow: hidden;
}
.our-projects__link:hover,
.our-project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.card-content__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
  padding-left: 24px;
  padding-right: 24px;
}
.card-content__title {
  color: var(--title-text-color);
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-right: 24px;
}
.our-projects__article {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text);
  padding: 63px 24px;
}
.our-projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-projects__item:hover .our-projects__overlay {
  opacity: 1;
  transform: translateY(0);
}

/*logo-footer*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-info {
  display: flex;
  align-items: baseline;
}
.footer-contacts {
  margin-right: 70px;
}
.logo-footer {
  display: block;
  color: var(--white-text);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}
.footer-addres {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-addres-post {
  color: var(--white-text);
  line-height: 1.71;
  margin-bottom: 9px;
}

.footer-addres:hover,
.footer-addres:focus {
  color: var(--accent-color);
}
.footer-addres .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 20px;
}
.social-list-footer {
  display: flex;
}

.social-link-footer {
  fill: var(--white-text);
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item:not(:last-child) {
  margin-right: 10px;
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
}
.footer-link {
  margin-right: 93px;
}

.footer-subscribe {
  display: block;
}
.form-subscribe {
  display: flex;
}
.footer-button {
  background-color: var(--accent-color);
  color: var(--white-text);
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 0 10px 28px;
  border: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-subscribe {
  background-color: var(--footer-background);
  width: 358px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-icon {
  margin-left: 10px;
}
/*модальное окно*/
.backdrop {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.75);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-bgr-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}
.coment {
  margin-bottom: 20px;
}

.form-field label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-input {
  height: 40px;
  margin-top: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-input:hover,
.form-input:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}
.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateX(-35%);
}
.policy-link {
  color: var(--accent-color);
  text-decoration: underline;
}
.coment-input {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 5px;
  resize: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.checkbox-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;

  transition: transform 200ms linear;
}
.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url('../images/iconcheck.svg');
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-bgr-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover .icon-close,
.button-close:focus .icon-close {
  fill: var(--accent-color);
}
.button-close:hover,
.button-close:focus {
  border: 2px solid var(--accent-color);
}
